<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Core </title>
</head>
<body>
    <h2>prueba de middleware & login exitoso</h2>
    # Usuario: {{ user.nombre_usuario  }} <br>
    # Email: {{ user.correo  }} <br>
    # Fecha de creación: {{ user.created_at }} <br>
    # Último login: {{ user.last_login }} <br>
    # Es superusuario: {{ user.is_superuser }} <br>
    # Está activo: {{ user.is_active }} <br>
    # vemos el role del Usuario
    {% for role in user.roles.all %}
        # Rol: {{ role.name_role }} <br>
    {% endfor %}
    #boton logout
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>