# Entornos virtuales
env_gestion/
venv/
env/
.venv/

# Python / Django
*.py[cod]
__pycache__/
*.log
*.sqlite3
db.sqlite3

# Configuración / secretos
.env
*.env

# Archivos generados por Django
/media/
 /staticfiles/

# Editores
.vscode/
.idea/

# Otros
.DS_Store
