{% block content %}
<div class="container mt-4">
    {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

  <h2>Cambiar contraseña inicial</h2>
  <p>Antes de seguir y por tu seguridad, debes actualizar tu contraseña antes de continuar.</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </form>
</div>
{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/change_password.css' %}">
{% endblock %}
