{% load static %}

<div class="navbar-container">
  <header>
    <a class="logo" href="/">
      <img src="{% static 'img/FQ_logo.png' %}" alt="logo">
    </a>

    <nav>
      <ul class="nav__links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/products/">Productos</a></li>
        <li><a href="/warehouse/">Casetas</a></li>
        
      </ul>
    </nav>

        <div class="cta dropdown">
          <a href="#">Auditoría y alertas ▾</a>
          <ul class="dropdown-menu">
            <li><a href="/warehouse/transfer-product/">Movimientos de Productos</a></li>
            <li><a href="/application/new">Aplicación de Productos</a></li>
            {% if user.is_authenticated and user.is_admin %}
            <li><a href="/register/">Nuevo Personal</a></li>
            <li><a href="/reports/">Auditoria de Reportes</a></li>
            {% endif %}

            <li><a href="/notification">Alertas</a></li>

          </ul>
        </div>

        <p class="menu cta">Menu</p>
      </header>

      <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
          <li><a href="/">Inicio</a></li>
          <li><a href="/products/">Productos</a></li>
          <li><a href="/warehouse/">Casetas</a></li>
          <li><a href="/warehouse/transfer-product/">Movimientos de productos</a></li>
          <li><a href="/notification">Alertas</a></li>

          <li><a href="/application/new">Aplicaciones</a></li>
        </div>
      </div>
    </div>
</div>
